<div class="card m-[3px]">
  <ng-container *ngIf="userData | async as user; else nameTemplate">
    <app-title title="PROFILE.INFO.EMAIL" [subtitle]="user.email" [disableTranslateSubtitle]="true" />
    <app-title title="PROFILE.INFO.AUTH_METHOD.TITLE" subtitle="PROFILE.INFO.AUTH_METHOD.SUBTITLE" margin="0" />
  </ng-container>
  <ng-template #nameTemplate>

  </ng-template>
</div>

<button class="exit-button" mat-stroked-button (click)="logout()">
  {{ 'PROFILE.INFO.EXIT' | translate}}
</button>
<div class="version"> {{ getVersion() }} </div>