<div class="section">{{ 'SHARED.DAILY_MENU.MAIN_PLATES' | translate }}</div>
<div class="flex items-center justify-between" *ngFor="let item of dailyMenu.main; let i = index">
  <div class="flex items-center">
    <img [src]="setProteinImage(item.protein)" width="30px" height="30px" />
    <div (click)="open(item, i)" class="item__title item__main-dish">
      {{ item.name }}
    </div>
  </div>
  <div class="flex items-center">
    <div class="item__price">{{ !item.eightySix ? item.price : '86' }} {{ currency }}</div>
    <button mat-icon-button (click)="add(item)" *ngIf="isAddAvailable">
      <mat-icon class="add-button">add</mat-icon>
    </button>
  </div>
</div>
<div class="section">{{ 'SHARED.DAILY_MENU.STARTERS' | translate }}</div>
<div *ngFor="let item of dailyMenu.extras.starters">
  <div class="item__title">{{ item.name }}</div>
  <div class="item__history">{{ item.history }}</div>
</div>
<div class="section">{{ 'SHARED.DAILY_MENU.DRINKS' | translate }}</div>
<div *ngFor="let item of dailyMenu.extras.drinks">
  <div class="item__title">{{ item.name }}</div>
  <div class="item__history">{{ item.history }}</div>
</div>
<div class="section">{{ 'SHARED.DAILY_MENU.SIDE_DISHES' | translate }}</div>
<div class="item__title">{{ dailyMenu.extras.rice.name }}</div>
<div class="item__history">
  {{ dailyMenu.extras.rice.history }}
</div>
<div class="item__title">{{ dailyMenu.extras.salad.name }}</div>
<div class="item__history">
  {{ dailyMenu.extras.salad.history }}
</div>
<div class="item__title">{{ dailyMenu.extras.garnish.name }}</div>
<div class="item__history">
  {{ dailyMenu.extras.garnish.history }}
</div>
<div class="section">{{ 'SHARED.DAILY_MENU.DESSERT' | translate }}</div>
<div class="item__title">{{ dailyMenu.extras.dessert.name }}</div>
<div class="item__history">
  {{ dailyMenu.extras?.dessert.history }}
</div>