<div class="section">{{ 'SHARED.DAILY_MENU.MAIN_PLATES' | translate }}</div>
<div class="flex items-center justify-between" *ngFor="let item of dailyMenu.main; let i = index">
  <div class="flex items-center">
    <img [src]="setProteinImage(item.protein)" width="30px" height="30px" />
    <div (click)="open(item)" class="item__title item__main-dish" [class.eighty-six]="item.eightySix">
      {{ item.name }}
    </div>
  </div>
  <div class="flex items-center" *ngIf="!item.eightySix">
    <div class="item__price">{{ item.price }} {{ currency }}</div>
    <button mat-icon-button (click)="add(item)" *ngIf="isAddAvailable">
      <mat-icon class="add-button">add</mat-icon>
    </button>
  </div>
</div>
<ng-container *ngIf="dailyMenu.extras?.starters.length">
  <div class="section">{{ 'SHARED.DAILY_MENU.STARTERS' | translate }}</div>
  <div *ngFor="let item of dailyMenu.extras.starters">
    <ng-container *ngTemplateOutlet="extraItem; context: { item }"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="dailyMenu.extras?.drinks.length">
  <div class="section">{{ 'SHARED.DAILY_MENU.DRINKS' | translate }}</div>
  <div *ngFor="let item of dailyMenu.extras.drinks">
    <ng-container *ngTemplateOutlet="extraItem; context: { item }"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="dailyMenu.extras?.sideDishes.length">
  <div class="section">{{ 'SHARED.DAILY_MENU.SIDE_DISHES' | translate }}</div>
  <div *ngFor="let item of dailyMenu.extras.sideDishes">
    <ng-container *ngTemplateOutlet="extraItem; context: { item }"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="dailyMenu.extras?.desserts.length">
  <div class="section">{{ 'SHARED.DAILY_MENU.DESSERTS' | translate }}</div>
  <div *ngFor="let item of dailyMenu.extras.desserts">
    <ng-container *ngTemplateOutlet="extraItem; context: { item }"></ng-container>
  </div>
</ng-container>

<ng-template #extraItem let-item="item">
  <div (click)="open(item)" class="item__title" [class.eighty-six]="item.eightySix">{{ item.name }}</div>
  <div class="item__history">{{ item.history }}</div>
</ng-template>