<div class="relative">
  <div class="table-loading-shade" *ngIf="(loadingStatus | async) === LoadingStatus.Loading"></div>
  <mat-table mat-table [dataSource]="shiftList" matSort matSortDisableClear
    [matSortDirection]="defaultSortControlValue.direction" [matSortActive]="defaultSortControlValue.active"
    (matSortChange)="changeSort($event)">

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="table-link">
          <!-- <div class="table-link" [routerLink]="['order', element.id]"> -->
          {{ getDateFromUnix(element.closedAt) }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="plates">
      <mat-header-cell *matHeaderCellDef> Plates </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.totalOrders }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.totalPrice }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>
</div>

<app-pagination [paginationControl]="paginationControl" [sizeControl]="sizeControl"
  [paginationPayload]="paginationPayload | async" [loadingStatus]="loadingStatus | async" />