<div class="relative">
  <div class="table-loading-shade" *ngIf="(loadingStatus | async) === LoadingStatus.Loading"></div>

  <ng-container *ngIf="orderList | async as orders">

    <ng-container *ngIf="!orders.length; else table">
      <div class="text-center">
        {{ 'CLIENT_ORDERS.TABLE.NO_ORDERS' | translate }}
      </div>
    </ng-container>

    <ng-template #table>
      <mat-table mat-table [dataSource]="orders" matSort matSortDisableClear
        [matSortDirection]="defaultSortControlValue.direction" [matSortActive]="defaultSortControlValue.active">

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>
            {{ 'CLIENT_ORDERS.TABLE.DATE' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="table-link" [routerLink]="['/client-orders', element.id]">
              {{ getDateFromUnix(element.createdAt) }}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>
            {{ 'CLIENT_ORDERS.TABLE.STATUS' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ deliveryTanslate[element.status] | translate }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
    </ng-template>

  </ng-container>


</div>