<div class="title">
  Follow this steps to install an app.
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>1. Open Google Chrome</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Open app in Google Chrome on your mobil device.</p>
    <div>
      <img [src]="firstImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 2. Find App </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Enter
      <span style="text-decoration: underline">deli-crm.web.app</span>
      in address row in browser.
    </p>
    <div>
      <img [src]="secondImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 3. Press options button</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      In right upper corner choose selected menu, which opens list of options, and click "Add to home screen"
    </p>
    <div>
      <img [src]="thirdImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 4. Add an icon</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Confirm in new window.
    </p>
    <div>
      <img [src]="forthImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 5. Enjoy the app</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Find the app on home screen or in the menu with the rest app.
    </p>
    <div>
      <img [src]="fifthImg" height="100%" width="100%" />
    </div>
  </mat-expansion-panel>
</mat-accordion>