<ng-container *ngIf="alacarteList | async as plateList">

    <app-alacarte-menu [alacarteMenu]="plateList" [showCheck]="true" (addItem)="addPlate($event)" />

    <div class="no-extras" *ngIf="!plateList.length">
        {{ 'ADMIN.BOARD.ALACARTE.NO_RECIPES' | translate }}
    </div>

    <app-button *ngIf="plateList.length"
        [title]="!(isLoading | async) ? 'ADMIN.BOARD.ALACARTE.BUTTON.ACTION'  : 'ADMIN.BOARD.ALACARTE.BUTTON.LOADING'"
        [disabled]="(isLoading | async)" action="save" width="full" (click)="updateAlacarteMenu()" />

</ng-container>