<ng-container *ngIf="!(isAdminUser | async)">
  1
  <ng-container *ngIf="displayName | async as name">
    <app-title [title]="'Employee registration'"
      subtitle="This is an initial registration. Following account will be used later to login" />

    <div class="action-bar">
      <button class="social-button" (click)="loginUser()">
        <img [src]="googleIconPath" width="40px" height="40px" />
        Proceed with Google
      </button>
    </div>
    <br>

    <form [formGroup]="form" (ngSubmit)="submitAdminLoginForm()">
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label> Email </mat-label>
        <input matInput [formControlName]="formProps.email" />
        <mat-error *ngIf="showFieldErrors(form, formProps.email) as error">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="true">
        <mat-label> Password </mat-label>
        <input matInput [formControlName]="formProps.password" />
        <mat-error *ngIf="showFieldErrors(form, formProps.password) as error">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <app-button actionType="save" width="full" type="submit" [disabled]="isAdminLoginLoading"
        [title]="isAdminLoginLoading ? 'Processing ..' : 'Login admin'" />

    </form>

    <h4>Hey, {{ name }}!</h4>
    <h5>Account will be reviewed</h5>
    <p style="margin: 10px 0">Contact in cafe since 10am or call us</p>
    <button mat-stroked-button class="login-button" routerLink="/auth/profile">See profile</button>
  </ng-container>
</ng-container>

<ng-container *ngIf="isAdminUser | async">
  admin
  <ng-container
    *ngIf="(adminEmailWasVerified | async ) && (restaurantRegisterStatus | async) as status; else confirmedEmail">
    email confirmed
    <br>
    <button mat-stroked-button type="button" (click)="registerRestaurant()">Register</button>
    <br>
    <ng-container [ngSwitch]="status">
      <ng-container *ngSwitchCase="RestaurantLoadingStatus.Registering">
        <div class="text-loading"> Registering .. </div>
      </ng-container>
      <ng-container *ngSwitchCase="RestaurantLoadingStatus.RegisterSuccess">
        <div style="color: teal"> Registered Successfully</div>
      </ng-container>
      <ng-container *ngSwitchCase="RestaurantLoadingStatus.RegisterFailed">
        <div style="color: tomato">Error: <br> {{ registerRestaurantErrorMessage }}</div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #confirmedEmail>
    please confirm email
    <button (click)="sendEmail()">resend</button>
  </ng-template>
</ng-container>