<h2> Admin registration </h2>
<h4> This is an initial registration. Following email and password will be used as admin credentials. </h4>

<form [formGroup]="form" (ngSubmit)="submitForm()">

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Name </mat-label>
    <input matInput [formControlName]="formProps.name" />
    <mat-error *ngIf="showFieldErrors(form, formProps.name) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Email </mat-label>
    <input matInput [formControlName]="formProps.email" />
    <mat-error *ngIf="showFieldErrors(form, formProps.email) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Password </mat-label>
    <input matInput [formControlName]="formProps.password" />
    <mat-error *ngIf="showFieldErrors(form, formProps.password) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Repeat password </mat-label>
    <input matInput [formControlName]="formProps.repeatPassword" />
    <mat-error *ngIf="showFieldErrors(form, formProps.repeatPassword) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <div class="auth-desc">
    App saves the user session with OAuth 2 and does not share personal data such as email, username and order history
    with other services. OAuth 2 is an authorization structure that allows applications to gain limited access to user
    accounts in an HTTPS service, like Facebook and Google. Delegates user authentication to the service that hosts
    the user's account and authorizes third-party applications to access said user account.
  </div>

  <br>
  <button mat-stroked-button class="login-button" type="submit">Register</button>

</form>