<div class="checkout-container" *ngIf="order" [@fadeInOnEnter]>
  <app-button routerLink="/menu" title="MENU.CHECKOUT.BACK_BUTTON" width="full" />

  <ng-container *ngFor="let plate of order.main; let i = index">
    <div class="card mt-[10px]">
      <app-title [title]="getDishTitle(plate.name, i)" subtitle="MENU.CHECKOUT.DISH_SUBTITLE"
        [disableTranslateTitle]="true" />

      <div class="section">{{ 'SHARED.DAILY_MENU.STARTERS' | translate }}</div>
      <mat-radio-group class="selection-group" (change)="chooseStarter($event.value, i)">
        <mat-radio-button *ngFor="let starter of extras.starters" [value]="starter" [disabled]="starter.eightySix">
          <span [class.eighty-six]="starter.eightySix" *ngIf="!starter.isSkipped; else skippedStarterTitle">
            {{starter.name }}
          </span>
          <ng-template #skippedStarterTitle>
            <span>{{ starter.skippedTitle | translate }}</span>
          </ng-template>
        </mat-radio-button>
      </mat-radio-group>

      <div class="section">{{ 'SHARED.DAILY_MENU.DRINKS' | translate }}</div>
      <mat-radio-group class="selection-group" (change)="chooseDrink($event.value, i)">
        <mat-radio-button *ngFor="let drink of extras.drinks" [value]="drink" [disabled]="drink.eightySix">
          <span [class.eighty-six]="drink.eightySix" *ngIf="!drink.isSkipped; else skippedDrinkTitle">
            {{ drink.name }}
          </span>
          <ng-template #skippedDrinkTitle>
            <span>{{ drink.skippedTitle | translate }}</span>
          </ng-template>
        </mat-radio-button>
      </mat-radio-group>

      <div class="section">{{ 'SHARED.DAILY_MENU.SIDE_DISHES' | translate }}</div>
      <mat-checkbox class="selection-group" *ngFor="let item of extras.sideDishes; let dishIndex = index"
        [checked]="!item.eightySix" (change)="chooseSideDish($event, item, dishIndex, i)" [disabled]="item.eightySix">
        <span [class.eighty-six]="item.eightySix">{{ item.name }}</span>
      </mat-checkbox>
    </div>
  </ng-container>

  <form [formGroup]="form" (ngSubmit)="submitOrderDetails()" autocomplete="off">
    <div class="card mt-[20px] ">
      <app-title title="MENU.CHECKOUT.ORDER_DETAILS.TITLE" subtitle="MENU.CHECKOUT.ORDER_DETAILS.SUBTITLE" />

      <mat-radio-group *ngIf="appUser" class="radio-group" (change)="chooseOrderType($event.value)">
        <mat-radio-button value="table" checked="true">
          {{ 'MENU.CHECKOUT.ORDER_DETAILS.TABLE.TITLE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="delivery">
          {{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.TITLE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="takeaway">
          {{ 'MENU.CHECKOUT.ORDER_DETAILS.TAKE_AWAY.TITLE' | translate }}
        </mat-radio-button>
      </mat-radio-group>

      <ng-container [ngSwitch]="order.category.type">

        <!-- TABLE -->
        <ng-container *ngSwitchCase="'table'">
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>{{ 'MENU.CHECKOUT.ORDER_DETAILS.TABLE.NUMBER' | translate }}</mat-label>
            <input matInput type="number" formControlName="table" />
            <mat-error *ngIf="showFieldErrors(form, 'table') as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>
        </ng-container>

        <!-- TAKEAWAY -->
        <ng-container *ngSwitchCase="'takeaway'">
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>{{ 'MENU.CHECKOUT.ORDER_DETAILS.TAKE_AWAY.NAME' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="showFieldErrors(form, 'name') as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>
        </ng-container>

        <!-- DELIVERY -->
        <ng-container *ngSwitchCase="'delivery'">

          <!-- TODO -->
          <!-- <mat-checkbox *ngIf="order.category.type === 'delivery'" [(ngModel)]="isOldClient"
          [ngModelOptions]="{ standalone: true }">
          Is old client?
        </mat-checkbox> -->

          <!-- TODO -->
          <!-- <mat-form-field *ngIf="isOldClient" appearance="outline" style="margin-top: 10px">
            <mat-label>Find client by name</mat-label>
            <input type="text" matInput [formControl]="clientFormControl" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="addClientData($event.option.value)" formControlName="name">
              <mat-option *ngFor="let option of filteredClients | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->

          <div class="section">{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.DETAILS' | translate }}</div>

          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.NAME' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="showFieldErrors(form, 'name') as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.ADDRESS' | translate }}</mat-label>
            <input matInput type="text" formControlName="address" />
            <mat-error *ngIf="showFieldErrors(form, 'address') as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.PHONE' | translate }}</mat-label>
            <input matInput type="text" formControlName="phone" />
            <mat-error *ngIf="showFieldErrors(form, 'phone') as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>

          <div class="section">{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.PAYMENT' | translate }}</div>
          <mat-radio-group class="radio-group" formControlName="payment" (change)="updatePaymentType($event.value)">
            <mat-radio-button [value]="PaymentType.Cash"> Cash </mat-radio-button>
            <mat-radio-button [value]="PaymentType.Card"> Card </mat-radio-button>
          </mat-radio-group>

          <ng-container *ngIf="paymentType === PaymentType.Cash">
            <div class="section">{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.BILL_TYPE' | translate }}</div>
            <mat-radio-group class="radio-group" formControlName="change">
              <mat-radio-button [value]="item" *ngFor="let item of changeTypes">
                {{ item }}
              </mat-radio-button>
            </mat-radio-group>
          </ng-container>

          <div class="section">{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.DELIVERY_TIME' | translate }}</div>

          <mat-radio-group class="radio-group" [value]="deliveryTime">
            <mat-radio-button value="now" (change)="updateTime($event.value)">
              <span>{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.NOW' | translate }}</span>
            </mat-radio-button>
            <mat-radio-button value="delayed" (change)="updateTime($event.value)">
              <span>{{ 'MENU.CHECKOUT.ORDER_DETAILS.DELIVERY.CHOOSE_TIME' | translate }}</span>
              <ng-container *ngIf="deliveryTime === 'delayed'">
                <mat-form-field [hideRequiredMarker]="true">
                  <input matInput [ngxTimepicker]="timepicker" />
                  <ngx-material-timepicker #timepicker (timeSet)="setDeliveryTime($event)" />
                </mat-form-field>
              </ng-container>
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>

      </ng-container>

      <div class="section">{{ 'MENU.CHECKOUT.ORDER_DETAILS.COMMENT' | translate }}</div>

      <mat-form-field>
        <mat-label>{{ 'MENU.CHECKOUT.ORDER_DETAILS.COMMENT' | translate }}</mat-label>
        <input matInput type="text" formControlName="comment" />
      </mat-form-field>
    </div>

    <div class="card mt-[20px]" *ngIf="order.alacarte?.length">
      <h2> {{ alaCarteLabel }} </h2>
      <ol>
        <li *ngFor="let item of order.alacarte">
          {{ item.name }}
        </li>
      </ol>
    </div>

    <div class="card mt-[20px] mb-[10px]">

      <app-title title='MENU.CHECKOUT.TOTAL.TITLE' [subtitle]="total" [disableTranslateSubtitle]="true" />
      <app-title-item title="MENU.CHECKOUT.TOTAL.MENU_PRICE" [value]="orderPrice" />
      <app-title-item title="MENU.CHECKOUT.TOTAL.DELIVERY_PRICE" [value]="deliveryPrice" />
      <app-title-item title="MENU.CHECKOUT.TOTAL.ALACARTE_PRICE" [value]="alacartePrice" margin="0" />

    </div>

    <div *ngIf="hasClientDataError" class="validation-error-message" [@fadeInUpOnEnter]>
      {{ 'MENU.CHECKOUT.VALIDATION.CLIENT_DATA' | translate }}
    </div>
    <div *ngIf="hasPaymentTypeError" class="validation-error-message" [@fadeInUpOnEnter]>
      {{ 'MENU.CHECKOUT.VALIDATION.PAYMENT_TYPE' | translate }}
    </div>
    <div *ngIf="hasBillTypeError" class="validation-error-message" [@fadeInUpOnEnter]>
      {{ 'MENU.CHECKOUT.VALIDATION.BILL_TYPE' | translate }}
    </div>
    <div *ngIf="hasStarterError" class="validation-error-message" [@fadeInUpOnEnter]>
      {{ 'MENU.CHECKOUT.VALIDATION.STARTER' | translate }}
    </div>
    <div *ngIf="hasDrinkError" class="validation-error-message" [@fadeInUpOnEnter]>
      {{ 'MENU.CHECKOUT.VALIDATION.DRINK' | translate }}
    </div>
    <div *ngIf="hasTableNumberError" class="validation-error-message" [@fadeInUpOnEnter]>
      {{ 'MENU.CHECKOUT.VALIDATION.TABLE_NUMBER' | translate }}
    </div>
    <div *ngIf="hasTakeAwayError" class="validation-error-message" [@fadeInUpOnEnter]>
      {{ 'MENU.CHECKOUT.VALIDATION.TAKEAWAY_NAME' | translate }}
    </div>

    <app-button actionType="save" type="submit" width="full"
      [disabled]="(loadingStatus| async) === LoadingStatus.Loading"
      [title]="(loadingStatus| async) === LoadingStatus.Loading ? 'MENU.CHECKOUT.BUTTON.LOADING' : 'MENU.CHECKOUT.BUTTON.ACTION'" />
  </form>
</div>