<app-title [title]="'Register restaurant'" subtitle="Fill the form to proceed the registeration" />
<br>

<form [formGroup]="form">

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Name </mat-label>
    <input matInput [formControlName]="formProps.name" />
    <mat-error *ngIf="showFieldErrors(form, formProps.name) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Description </mat-label>
    <textarea matInput [formControlName]="formProps.description"></textarea>
    <mat-error *ngIf="showFieldErrors(form, formProps.description) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Address </mat-label>
    <input matInput [formControlName]="formProps.address" />
    <mat-error *ngIf="showFieldErrors(form, formProps.address) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Phone </mat-label>
    <input matInput [formControlName]="formProps.phone" />
    <mat-error *ngIf="showFieldErrors(form, formProps.phone) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Web </mat-label>
    <input matInput [formControlName]="formProps.web" />
    <mat-error *ngIf="showFieldErrors(form, formProps.web) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <mat-label> Currency </mat-label>
    <input matInput [formControlName]="formProps.currency" />
    <mat-error *ngIf="showFieldErrors(form, formProps.currency) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <div class="amount-configurations">

    <mat-form-field [hideRequiredMarker]="true">
      <mat-label> Delivery amount </mat-label>
      <input matInput [formControlName]="formProps.delivery" type="number" />
      <mat-error *ngIf="showFieldErrors(form, formProps.delivery) as error">
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true">
      <mat-label> Discount amount </mat-label>
      <input matInput [formControlName]="formProps.discount" type="number" />
      <mat-error *ngIf="showFieldErrors(form, formProps.name) as error">
        {{ error }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <app-button title="Cancel" actionType="back" (submit)="close()"></app-button>
    <app-button title="Register" actionType="save" (submit)="confirm()"></app-button>
  </div>

</form>