<app-title title="ORDERS.DIALOG_STATUS.TITLE" subtitle="ORDERS.DIALOG_STATUS.SUBTITLE" />

<div class="container">
  @for (status of currentStatusList; track status) {
  <button class="action" mat-stroked-button [style.background]="statusColor[status]" (click)="confirm(status)">
    {{ orderTranslate[status] | translate }}
  </button>
  }
</div>

<div class="close">
  <button mat-stroked-button (click)="close()">
    {{ 'ORDERS.DIALOG_STATUS.CLOSE_BUTTON' | translate }}
  </button>
</div>