.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .action {
        border-width: 0px;
    }
}

.close {
    margin-top: 30px;
    text-align: center;
    width: 100%;

    button {
        width: 100px;
    }
}

button {
    border-radius: 25px;
}