.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  background-color: transparent;
}

.item-title {
  font-size: 1em;
  text-align: start;
  color: #444;
  font-weight: 400;
}

.item-desc {
  font-size: 1em;
  text-align: start;
  color: #444;
  font-weight: 600;
}
