:host {
  ::ng-deep .mat-step-icon-selected {
    background-color: #57aaf7 !important;
  }

  ::ng-deep .mat-step-icon-state-edit {
    background-color: #57aaf7 !important;
  }

  ::ng-deep .mat-horizontal-content-container {
    padding-bottom: 0;
  }

  .mat-stepper-horizontal {
    background: none;
  }
}

.empty-bar {
  text-align: center;
  font-size: 1em;
  color: #666;
  font-family: 'Verdana';
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
}

.plates-result-amount {
  padding: 10px 0 10px 15px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  color: #555;
  text-align: start;
  font-size: 1.2em;
  font-weight: 500;
}

.main-dish {
  color: #555;
  font-size: 1.4em;
  font-weight: 500;
}