<ng-container *ngIf="alacarteList | async as plateList">

    <div class="section">{{ 'SHARED.DAILY_MENU.ALACARTE' | translate }}</div>

    <div class="no-extras" *ngIf="!plateList.length">
        {{ 'ADMIN.BOARD.ALACARTE.NO_RECIPES' | translate }}
    </div>

    <div class="flex items-center justify-between" *ngFor="let item of plateList; let i = index">
        <mat-checkbox [checked]="item.isAdded" (change)="addPlate(item)">
            <span class="main-dish">{{ item.name }}</span>
        </mat-checkbox>
        <span class="price">{{item.price}} </span>
    </div>

    <app-button *ngIf="plateList.length"
        [title]="!(isLoading | async) ? 'ADMIN.BOARD.ALACARTE.BUTTON.ACTION'  : 'ADMIN.BOARD.ALACARTE.BUTTON.LOADING'"
        [disabled]="(isLoading | async)" action="save" width="full" (click)="updateAlacarteMenu()" />

</ng-container>