<app-title title="DELIVERY.DIALOG_STATUS.TITLE" subtitle="DELIVERY.DIALOG_STATUS.SUBTITLE" />


<div class="container">
  @for (status of statusList; track status) {
  <button class="action" mat-stroked-button [style.background]="statusColor[status]" (click)="confirm(status)">
    {{ deliveryTanslate[status] | translate }}
  </button>
  }
</div>

<div class="close">
  <button mat-stroked-button (click)="close()">
    {{ 'DELIVERY.DIALOG_STATUS.CLOSE_BUTTON' | translate }}
  </button>
</div>