<div class="relative">
  <div class="table-loading-shade" *ngIf="(loadingStatus | async) === LoadingStatus.Loading"></div>
  <mat-tab-group *ngIf="{ list: orderList | async, label: listLabels | async } as data" [@.disabled]="true"
    (selectedTabChange)="changeTab($event)" [(selectedIndex)]="selectedTabIndex">
    <mat-tab [label]="data.label.requested">
      <ng-container *ngTemplateOutlet="table; context: { data: data.list }"></ng-container>
    </mat-tab>
    <mat-tab [label]="data.label.confirmed">
      <ng-container *ngTemplateOutlet="table; context: { data: data.list }"></ng-container>
    </mat-tab>
    <mat-tab [label]="data.label.canceled">
      <ng-container *ngTemplateOutlet="table; context: { data: data.list }"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #table let-data="data">
  <mat-table mat-table [dataSource]="data" matSort matSortDisableClear
    [matSortDirection]="defaultSortControlValue.direction" [matSortActive]="defaultSortControlValue.active"
    (matSortChange)="changeSort($event)">
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="table-link" (click)="showDetail(element)">
          {{ element.order.category.delivery.name }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="plates">
      <mat-header-cell *matHeaderCellDef> Plates </mat-header-cell>
      <mat-cell *matCellDef="let element" class="plates">
        <li *ngFor="let item of element.order.main; let i = index">
          {{ item.name }}
        </li>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>
</ng-template>

<app-pagination [paginationControl]="paginationControl" [sizeControl]="sizeControl"
  [paginationPayload]="paginationPayload | async" [loadingStatus]="loadingStatus | async" />