:host {
  background-color: #f1f1f1;
  width: 100%;
  display: block;
}

button {
  display: flex;
  align-items: center;
}

:host {
  // position: sticky;
  bottom: 0;

  mat-select {
    width: 60px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 5px 10px 5px 0;
  }
}