<div class="order-container" *ngIf="item">
  <div class="name-title">
    <div>Thanks for your order,
      <br>
      {{ item.order.category.delivery.name}}!
    </div>
  </div>

  <div class="text-center my-[30px]">
    <img src="/assets/images/done.png" width="150px" height="150px" />
  </div>

  <div class="card">
    <div *ngFor="let item of item.order.main; let i = index">
      <div class="item-card" [@pulseOnEnter]>
        <div class="flex items-center">
          <img [src]="setProteinImage(item.plate.protein)" width="30px" height="30px" />
          <div class="item__title">
            {{ item.plate.name }}
          </div>
        </div>
        <div class="item__price">{{ item.plate.price }} {{currency}}</div>
      </div>
    </div>
  </div>

  <div class="card mt-[20px]">
    <app-title-item title="Address" [value]=" item?.order.category.delivery.address " />
    <app-title-item title="Phone" [value]=" item?.order.category.delivery.phone " />
    <app-title-item title="Delivery time" [value]="getDeliveryTime()" />
  </div>

  <div class="card mt-[20px]">
    <h2>Total</h2>
    <h3>{{ item.order.price.total }} {{currency}}</h3>
  </div>
  <!-- <br /> -->
</div>