<div cdkFocusInitial></div>
<div mat-dialog-content>

  <div class="flex justify-center">
    <img style="border-radius: 8px" [src]="plate.imgURL ?? setProteinImage(plate.protein)" width="200px"
      height="200px" />
  </div>

  <app-title [title]="plate.name" subtitle="MENU.PLATE_DETAIL.INCLUDED" [disableTranslateTitle]="true" />
  <div class="title-desc">{{ plate?.history }}</div>

  <div class="hr"></div>
  <div *ngIf="plate.price" style="font-size: 1.2em; color: #555; text-align: end">
    {{ plate.price }} {{ currency | async }}
  </div>
  <br />

  <app-button actionType="save" (click)="addPlate()" title="MENU.PLATE_DETAIL.ADD_BUTTON" width="full" />

  <br>
  <div class="form-actions" *ngIf="hasDeleteAuth">
    <app-button *ngIf="!plate.eightySix" title="MENU.PLATE_DETAIL.86_BUTTON.REMOVE" actionType="back"
      (submit)="removePlate()" />
    <app-button *ngIf="plate.eightySix" title="MENU.PLATE_DETAIL.86_BUTTON.RETURN_BACK" actionType="back"
      (submit)="returnPlate()" />
  </div>
</div>