<ng-container *ngIf="(user | async) as data">
  <h2 class="mb-[10px]">{{ data.name }}</h2>

  <!-- <mat-form-field appearance="outline" style="width: 200px" *ngIf="data.status !== 'client'">
    <mat-label>Role</mat-label>
    <mat-select [formControl]="role">
      <mat-option *ngFor="let item of roleList" [value]="item">
        <span>{{ item }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <h3>Email</h3>
  <h4 class="text-ellipsis">{{ data.auth.email }}</h4>

  <h3>Status</h3>
  <h4>{{ data.status }}</h4>

  <!-- <ng-container *ngIf="data.status !== 'client'">
    <h3>Role</h3>
    <h4>{{ data.role }}</h4>
  </ng-container> -->

  <!-- <h3>Registered</h3>
  <h4>{{ data.timestamp | timestamp | date : 'medium' }}</h4> -->
</ng-container>