<div class="dialog-padding" cdkFocusInitial>
  <app-title title="EXPENSES.PAGE.DIALOG.TITLE" />

  <form [formGroup]="form" (ngSubmit)="confirm(form)" style="padding-top: 20px">
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="title"
        [placeholder]="'EXPENSES.PAGE.DIALOG.FORM.DESCRIPTION' | translate" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="number" [placeholder]="'EXPENSES.PAGE.DIALOG.FORM.VALUE' | translate"
        formControlName="value" />
    </mat-form-field>

    <div class="form-actions">
      <app-button title="BUTTON.NO" type="edit" (click)="close()" />
      <app-button title="BUTTON.ADD" [disabled]="!form.valid" type="submit" actionType="save" />
    </div>
  </form>
</div>