<div *ngIf="item | async as data" class="content-toolbar-padding">
  <app-title-item [title]="'RECIPES.PAGE.LIST.NAME'" [value]="data.name" />
  <app-title-item [title]="'RECIPES.PAGE.LIST.TYPE'" [value]="plateTypeTranslate[data.type] | translate " />
  <app-title-item *ngIf="data.type === 'main'" [title]="'RECIPES.PAGE.LIST.PROTEIN'"
    [value]="plateProteinTranslate[data.protein] | translate" />
  <app-title-item *ngIf="data.price" [title]="'RECIPES.PAGE.LIST.PRICE'" [value]="data.price" />
  <app-title-item [title]="'RECIPES.PAGE.LIST.NAME'" [value]="data.name" />
  <app-title-item [title]="'RECIPES.PAGE.LIST.DESCRIPTION'" [value]="data.history ?? '-'" />

  <ng-container *ngIf="data.imgURL">
    <img [src]="data.imgURL" width="50%" height="50%" style="border-radius: 8px" />
  </ng-container>

  <!-- TODO: When whole order process will be done -->
  <!-- <h3>Historial</h3>

    <mat-table [dataSource]="datasource">
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef> Date and time</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.createdAt | date : 'MMMM d, h:mm a' }}</mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar> -->
</div>