.layout {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  z-index: 2;
}

.header-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
