<div class="relative">
  <div class="table-loading-shade" *ngIf="(loadingStatus | async) === LoadingStatus.Loading"></div>
  <mat-tab-group *ngIf="{ list: orderList | async, label: listLabels | async } as data" [@.disabled]="true"
    (selectedTabChange)="changeTab($event)" [(selectedIndex)]="selectedTabIndex">
    <mat-tab [label]="data.label.cooking">
      <ng-container *ngTemplateOutlet="table; context: { data: data.list }"></ng-container>
    </mat-tab>
    <mat-tab [label]="data.label.delivery">
      <ng-container *ngTemplateOutlet="table; context: { data: data.list }"></ng-container>
    </mat-tab>
    <mat-tab [label]="data.label.paid">
      <ng-container *ngTemplateOutlet="table; context: { data: data.list }"></ng-container>
    </mat-tab>
    <mat-tab [label]="data.label.canceled">
      <ng-container *ngTemplateOutlet="table; context: { data: data.list }"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #table let-data="data">
  <mat-table mat-table [dataSource]="data" matSort matSortDisableClear
    [matSortDirection]="defaultSortControlValue.direction" [matSortActive]="defaultSortControlValue.active"
    (matSortChange)="changeSort($event)">
    <ng-container matColumnDef="client">
      <mat-header-cell mat-sort-header="createdAt" *matHeaderCellDef>Client</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="element.category.type">
          <ng-container *ngSwitchCase="'table'">
            <div class="table-link flex items-center" [routerLink]="['/orders', element.id]">
              <mat-icon class="table-icon ">deck</mat-icon>
              <div class="table-item">{{ element.category.table }}</div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'delivery'">
            <div class="table-link flex items-center" [routerLink]="['/orders', element.id]">
              <mat-icon class="table-icon ">shopping_basket</mat-icon>
              <div class="table-item">{{ element.category.table }}</div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'takeaway'">
            <div class="table-link flex items-center" [routerLink]="['/orders', element.id]">
              <mat-icon class="table-icon ">emoji_people</mat-icon>
              <div class="table-item">{{ element.category.table }}</div>
            </div>
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="waiter">
      <mat-header-cell *matHeaderCellDef> Waiter </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.waiter?.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.price?.total }} currency</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>
</ng-template>

<app-pagination [paginationControl]="paginationControl" [sizeControl]="sizeControl"
  [paginationPayload]="paginationPayload | async" [loadingStatus]="loadingStatus | async" />