<div class="p-[3px]" *ngIf="delivery">
  <div class="name-title">
    <div>Thanks for your order,
      <br>
      {{ delivery.order.category.delivery.name}}!
    </div>
  </div>

  <div class="text-center my-[30px]">
    <img src="/assets/images/done.png" width="150px" height="150px" />
  </div>

  <div class="card">
    <div *ngFor="let item of delivery.order.main; let i = index; let last = last">
      <div class="item-card" [@pulseOnEnter]>
        <div class="flex items-center">
          <img [src]="setProteinImage(item.plate.protein)" width="30px" height="30px" />
          <div class="item__title">
            {{ item.plate.name }}
          </div>
        </div>
        <div class="item__price">{{ item.plate.price }} {{ delivery.order.price.currency }}</div>
      </div>
      <div class="devider" *ngIf="!last"></div>
    </div>
  </div>

  <div class="card mt-[20px]">
    <app-title-item title="Address" [value]=" delivery?.order.category.delivery.address " />
    <app-title-item title="Phone" [value]=" delivery?.order.category.delivery.phone " />
    <app-title-item margin="0" title="Delivery time" [value]="deliveryTime" />
  </div>

  <div class="card mt-[20px]">
    <app-title margin="0" title="Total" [subtitle]="total" />
  </div>
</div>