.divider {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.name-title {
  font-size: 1.5em;
  color: #555;
  text-align: center;
}

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.item {
  &__title {
    padding-left: 10px;
    color: #555;
    font-size: 1.4em;
    font-weight: 500;
  }

  &__price {
    color: #555;
    font-size: 1.2em;
    font-weight: 500;
  }
}

.user-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.progress {
  height: 30px;
  border-radius: 14px;
  background: #ddd;
  width: 100%;
  margin-right: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
    transition: all 0.5s ease-in-out;
  }

  .icon {
    color: #555;
    padding-right: 5px;
  }
}