<ng-container *ngIf="order; else orderNotFoundTemplate">
  <div class="p-[4px]" [@fadeInOnEnter]>
    <div class="card">
      <app-title [title]="orderTitle" />

      <div class="flex justify-between items-center">
        <div class="progress">
          <div [style.width]="orderStatusBar.progress" [style.background]="statusColor[orderStatusBar.status]">
            <span class="material-symbols-outlined icon"> {{ statusIcon[orderStatusBar.status] }} </span>
            {{ orderTranslate[orderStatusBar.status] }}
          </div>
        </div>
        <div class="flex gap-2">
          <ng-container *ngIf="printButton; else statusActionButton">
            <app-button [title]="printButtonTitle" [disabled]="(loadingStatus | async) === LoadingStatus.Loading"
              icon="print" (click)="print()" />
          </ng-container>
          <ng-template #statusActionButton>
            <app-button [title]="statusButtonTitle" [disabled]="(loadingStatus | async) === LoadingStatus.Loading"
              icon="arrow_forward" (click)="update()" />
          </ng-template>
        </div>
      </div>
      <ol>
        <li *ngFor="let item of order.main">
          <h2>{{ item.plate.name }}</h2>
          <div class="description">
            <app-title-item title="Starter" [value]="item.starter.name " />
            <app-title-item title="Drink" [value]="item.drink.name " />

            <div *ngIf="!item.salad.id">
              <strong>- without salad</strong>
            </div>
            <div *ngIf="!item.garnish.id">
              <strong>- without garnish</strong>
            </div>
            <div *ngIf="!item.rice.id">
              <strong>- without rice</strong>
            </div>
            <div *ngIf="!item.dessert.id">
              <strong>- without dessert</strong>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <div class="card mt-[20px]">
      <app-title title="Order details" />

      <!--       TODO
      <ng-container *ngIf="order.category.type === 'delivery' || order.category.type === 'takeaway'">
        <h3>Name</h3>
        <h4>{{ order.category.delivery.name }}</h4>
      </ng-container> 

      <ng-container *ngIf="order.category.type === 'delivery'">

        <h3>Address</h3>
        <h4 class="table-link" (click)="copyAddress()">{{ order.category.delivery.address }}</h4>

        <h3>Phone</h3>
        <h4 class="table-link" (click)="copyPhone()">{{ order.category.delivery.phone }}</h4>

        <h3>Payment</h3>
        <h4>{{ order.category.delivery.payment }}</h4>

        <ng-container *ngIf="order.category.delivery.change">
          <h3>Change</h3>
          <h4>{{ order.category.delivery.change }}</h4>
        </ng-container>

        <h3>Delivery time</h3>
        <h4>{{ order.category.delivery.time === 'now' ? 'Now' : order.category.delivery.time }}</h4>
      </ng-container>
      -->

      <app-title-item title="Created at" [value]="getFullTimeFromUnix(order.createdAt)" />
      <app-title-item title="Created by" [value]="getUser()" margin="0" />

      <!-- TODO
      <ng-container *ngIf="isOrderClosed">
        <h3>Closed at</h3>
        <h3>Closed by</h3>
      </ng-container> -->
    </div>

    <div class="card mt-[20px]">
      <app-title title="Summary" />

      <app-title-item title="Comment" [value]="comment" />
      <app-title-item title="Total" [value]="getTotal(order.price.total)" margin="0" />
    </div>
  </div>
</ng-container>
<ng-template #orderNotFoundTemplate>
  <div class="validation-error-message" *ngIf="orderNotFound">
    Order id: {{orderId }} was not found
  </div>
</ng-template>