<div *ngIf="order; else orderNotFoundTemplate" class="p-[3px]">
  <div class="order-actions">
    <app-button title="ORDERS.DETAIL.BUTTON.BACK" action="back" [icon]="'arrow_back'" [url]="'/orders'"></app-button>
    <app-button title="ORDERS.DETAIL.BUTTON.UPDATE" [disabled]="(loadingStatus | async) === LoadingStatus.Loading"
      icon="check_small" (click)="update()" />
    <app-button title="ORDERS.DETAIL.BUTTON.PRINT" [disabled]="(loadingStatus | async) === LoadingStatus.Loading"
      icon="print" (click)="print()" />
  </div>
  <div [@fadeInOnEnter]>
    <div class="card">
      <app-title [title]="orderTitle" [subtitle]="orderDetail" [disableTranslateSubtitle]="true" />

      <div class="flex justify-between items-center">
        <div class="progress">
          <div [style.width]="orderStatusBar.progress" [style.background]="statusColor[orderStatusBar.status]">
            <span class="material-symbols-outlined icon"> {{ statusIcon[orderStatusBar.status] }} </span>
            {{ orderTranslate[orderStatusBar.status] | translate }}
          </div>
        </div>
      </div>
      <ol>
        <li *ngFor="let item of order.main">
          <h3>{{ item.plate.name }}</h3>
          <div class="description">
            <app-title-item title="ORDERS.DETAIL.EXTRA_DISHES.STARTER" [value]="getStarterOrDrinkTitle(item.starter)" />
            <app-title-item title="ORDERS.DETAIL.EXTRA_DISHES.DRINK" [value]="getStarterOrDrinkTitle(item.drink)" />
            <app-title-item title="ORDERS.DETAIL.EXTRA_DISHES.SIDE_DISHES" margin="0" />
            <div [class.eighty-six]="item.isSkipped || item.eightySix" *ngFor="let item of item.sideDishes">
              {{ item.name }}
            </div>
          </div>
        </li>
      </ol>
    </div>

    <div class="card mt-[20px]">
      <app-title title='ORDERS.DETAIL.ORDER_DETAILS_TITLE' />

      <app-title-item title="TIMESTAMP.CREATED_AT" [value]="getFullTimeFromUnix(order.createdAt)" />
      <app-title-item title="TIMESTAMP.CREATED_BY" [value]="order.createdBy.name" />
      <ng-container *ngIf="order.closedAt">
        <app-title-item title="TIMESTAMP.CLOSED_AT" [value]="getFullTimeFromUnix(order.closedAt)" />
        <app-title-item title="TIMESTAMP.CLOSED_BY" [value]="order.closedBy.name" />
      </ng-container>
      <app-title-item title="ORDERS.DETAIL.COMMENT" [value]="comment" margin="0" />
    </div>

    <div class="card mt-[20px]">
      <app-title title='MENU.CHECKOUT.TOTAL.TITLE' [subtitle]="total" [disableTranslateSubtitle]="true" />

      <app-title-item title="MENU.CHECKOUT.TOTAL.MENU_PRICE" [value]="orderPrice" />
      <app-title-item title="MENU.CHECKOUT.TOTAL.DELIVERY_PRICE" [value]="deliveryPrice" />
      <app-title-item title="MENU.CHECKOUT.TOTAL.ALACARTE_PRICE" [value]="alacartePrice" margin="0" />
    </div>
  </div>
</div>

<ng-template #orderNotFoundTemplate>
  <div *ngIf="emptyOrder && orderNotFound">
    <div class="validation-error-message">
      {{ getOrderErorrMessage() }}
    </div>
  </div>
</ng-template>