<mat-stepper [linear]="true" #stepper *ngIf="isFormDataLoaded | async">
  <mat-step [stepControl]="extrasForm" [label]="'ADMIN.BOARD.FORM.TAB.STARTERS' | translate">
    <form [formGroup]="extrasForm" (ngSubmit)="addExtras(extrasForm, stepper)">

      <div class="section-border">
        <div class="section">{{ 'SHARED.DAILY_MENU.STARTERS' | translate }}</div>
        <div class="section-row" formArrayName="starters" *ngFor="let item of starters.controls; let i = index">
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label> {{ getStartersLabel(i) }} </mat-label>
            <input type="text" matInput [formControlName]="i" [matAutocomplete]="autoStarter" />
            <mat-autocomplete #autoStarter="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredStarterOptions[i] | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="showFieldErrors(extrasForm, 'starters', i) as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="removeStarter(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="no-extras" *ngIf="!starters.controls.length">
          {{ 'ADMIN.BOARD.FORM.EMPTY_EXTRAS.STARTER' | translate }}
        </div>
        <button class="add-button" mat-button (click)="addStarter()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="section-border">
        <div class="section">{{ 'SHARED.DAILY_MENU.DRINKS' | translate }}</div>
        <div class="section-row" formArrayName="drinks" *ngFor="let item of drinks.controls; let i = index">
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label> {{ getDrinksLabel(i) }} </mat-label>
            <input type="text" matInput [formControlName]="i" [matAutocomplete]="autoDrink" />
            <mat-autocomplete #autoDrink="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredDrinkOptions[i] | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="showFieldErrors(extrasForm, 'drinks', i) as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="removeDrink(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="no-extras" *ngIf="!drinks.controls.length">
          {{ 'ADMIN.BOARD.FORM.EMPTY_EXTRAS.DRINK' | translate }}
        </div>
        <button class="add-button" mat-button (click)="addDrink()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="section-border">
        <div class="section">{{ 'SHARED.DAILY_MENU.SIDE_DISHES' | translate }}</div>
        <div class="section-row" formArrayName="sideDishes" *ngFor="let item of sideDishes.controls; let i = index">
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label> {{ getSideDishesLabel(i) }} </mat-label>
            <input type="text" matInput [formControlName]="i" [matAutocomplete]="autoSidedish" />
            <mat-autocomplete #autoSidedish="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredSideDishOptions[i] | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="showFieldErrors(extrasForm, 'sideDishes', i) as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="removeSidedish(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="no-extras" *ngIf="!sideDishes.controls.length">
          {{ 'ADMIN.BOARD.FORM.EMPTY_EXTRAS.SIDE_DISH' | translate }}
        </div>
        <button class="add-button" mat-button (click)="addSidedish()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="section-border">
        <div class="section">{{ 'SHARED.DAILY_MENU.DESSERTS' | translate }}</div>
        <div class="section-row" formArrayName="desserts" *ngFor="let item of desserts.controls; let i = index">
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label> {{ getDessertLabel(i) }} </mat-label>
            <input type="text" matInput [formControlName]="i" [matAutocomplete]="autoDessert" />
            <mat-autocomplete #autoDessert="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredDessertOptions[i] | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="showFieldErrors(extrasForm, 'desserts', i) as error">
              {{ error | translate }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="removeDessert(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="no-extras" *ngIf="!desserts.controls.length">
          {{ 'ADMIN.BOARD.FORM.EMPTY_EXTRAS.DESSERT' | translate }}
        </div>
        <button class="add-button" mat-button (click)="addDessert()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div *ngIf="hasStartersValidationError" class="validation-error-message">
        {{ 'ADMIN.BOARD.FORM.ALL_REQUIRED_VALIDATION' | translate }}
      </div>
      <app-button title="ADMIN.BOARD.FORM.BUTTON.CONTINUE" type="submit" width="full" />
    </form>
  </mat-step>

  <mat-step [label]="'ADMIN.BOARD.FORM.TAB.MAIN_DISHES' | translate">

    <div class="section">{{ 'SHARED.DAILY_MENU.MAIN_PLATES' | translate }}</div>
    <div class="flex items-center" *ngFor="let item of plateList; let i = index">
      <mat-checkbox [checked]="item.isAdded" (change)="addPlate(item)">
        <span class="main-dish">{{ item.name }}</span>
      </mat-checkbox>
    </div>

    <div class="plates-result-amount">
      {{ chosenPlates.length }}
      {{ 'ADMIN.BOARD.FORM.PLATES_AMOUNT' | translate }}
    </div>
    <app-button title="ADMIN.BOARD.FORM.BUTTON.VERIFY" type="submit" width="full" (click)="choosePlates(stepper)" />

  </mat-step>
  <mat-step [label]="'ADMIN.BOARD.FORM.TAB.CONFIRM' | translate">

    <app-formatted-daily-menu *ngIf="dailyMenu" [dailyMenu]="dailyMenu" [currency]="currency | async" />
    <br />
    <app-button
      [title]="!(isLoading | async) ? 'ADMIN.BOARD.FORM.BUTTON.CONFIRM.ACTION' : 'ADMIN.BOARD.FORM.BUTTON.CONFIRM.LOADING'"
      [disabled]="(isLoading | async)" action="save" width="full" (click)="createDailyMenu()" />

  </mat-step>
</mat-stepper>